body {
	font-family: Helvetica, Sans-Serif;
    color: white;
    font-size: 14pt;
	background-image: url('https://www.bothman.com/sites/default/files/2019-12/4_Cupertino-HS-Seatwalls-OPT.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.navbar {
	display: flex;
	flex-direction: row;
	background-color: white;
	height: 100px;
	border-radius: 25px;
}

.title {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 30pt;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;    
	width: 300px; 
	background-color: #660000;
	border-radius: 25px;
}

.title:hover {
	background-color: #940000;
}

.topnav {
	position: absolute;
	right: 8px;
	font-size: 30pt;
	color: #040F0F;
	height: 100px;
	background-color: #660000;
	border-radius: 25px;
	width: 400px;
}

.register {
	position: absolute;
	right: 405px;	
	color: white;
	height: 100px;
	background-color: #660000;
	border-radius: 25px;
	width:200px;
	font-family: Gadugi;
	font-size: 20pt;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;   
}

.register:hover {
	background-color: #940000;
}

.login {
	position: absolute;
	right: 610px;
	color: white;
	height: 100px;
	background-color: #660000;
	border-radius: 25px;
	width:200px;	
	font-family: Gadugi;
	font-size: 20pt;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;   
}

.login:hover {
	background-color: #940000;
}

.searchbar input[type=text] {
	margin-top:34px;
	height: 35px;
	margin-left: 40px;
  border: none;
  font-size: 25px;
  border-radius: 10px;
}

p {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 100px; 
}
.abouttitle {
	text-align: center;
	vertical-align: middle;
	line-height: 69px;  
	font-family: Gadugi;
	font-size: 25px;
	color: white;
	background-color: #660000;
	width: 50%;
	height: 70px;
	position: absolute;
	top: 10px;
	left: 25%;
	border-radius: 25px;
}
.about {
	color: black;
	display: flex;
	flex-direction: row;
	background-color: white;
	height: 100px;
	border-radius: 25px;
	margin-top: 105px;
	position: absolute;
	right: 10px;
	height: 75%;
	width: 810px;
	
}

footer {
	position: absolute; 
	bottom: 5px; 
	display: flex;
	flex-direction: row;
	background-color: white;
	height: 100px;
	border-radius: 25px;
	width: 99%;
}

.team {
	position: absolute;
	left: 0px;
	color: white;
	height: 100px;
	background-color: #660000;
	border-radius: 25px;
	width:200px;
	font-family: Gadugi;
	font-size: 20pt;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;   
}

.team:hover {
	background-color: #940000;
}

.instagram {
	position: absolute;
	left: 205px;
	color: white;
	height: 100px;
	background-color: #660000;
	border-radius: 25px;
	width:200px;
	font-family: Gadugi;
	font-size: 20pt;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;   
}

.instagram:hover {
	background-color: #940000;
}

.twitter {
	position: absolute;
	left: 410px;
	color: white;
	height: 100px;
	background-color: #660000;
	border-radius: 25px;
	width:200px;
	font-family: Gadugi;
	font-size: 20pt;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;   
}

.twitter:hover {
	background-color: #940000;
}

.discord {
	position: absolute;
	left: 615px;
	color: white;
	height: 100px;
	background-color: #660000;
	border-radius: 25px;
	width:200px;
	font-family: Gadugi;
	font-size: 20pt;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;   
}

.discord:hover {
	background-color: #940000;
}

.github {
	position: absolute;
	left: 820px;
	color: white;
	height: 100px;
	background-color: #660000;
	border-radius: 25px;
	width:200px;
	font-family: Gadugi;
	font-size: 20pt;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;   
}

.github:hover {
	background-color: #940000;
}

