body {
	/* default styling */
	font-family: Helvetica, Sans-Serif;
    color: #660000;
    font-size: 14pt;
	
	/* background image */
	background-image: url('https://www.bothman.com/sites/default/files/2019-12/4_Cupertino-HS-Seatwalls-OPT.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

p {
	/* paragraph styling; entirely for "about" section */
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 100px; 
}

button {
	/* default buttons */
	background-color: white;
	color: #660000;
	font-family: Gadugi;
	font-size: 20pt;
	vertical-align: middle;
	line-height: 100px; 
	border: none;
	border-radius: 25px;
	text-align: center;
	width: 200px; 
}

button:hover {
	/* flashing effect on buttons */
	background-color: #e3e3e3;
}

footer {
	/* maroon bar footer */
	position: absolute; 
	bottom: 8px; 
	display: flex;
	flex-direction: row;
	background-color: #660000;
	height: 100px;
	border-radius: 25px;
	width: 99%;
}

.navbar {
	/* maroon bar header */
	display: flex;
	flex-direction: row;
	background-color: #660000;
	height: 100px;
	border-radius: 25px;
}

.title {
	/* CAMPUSMAP title*/
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 30pt;
	color: #660000;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;    
	width: 300px; 
	background-color: white;
	border-radius: 25px;
}

.searchbar {
	/* searchbar */
	position: absolute;
	right: 8px;
	font-size: 30pt;
	color: #040F0F;
	height: 100px;
	background-color: white;
	border-radius: 25px;
	width: 400px;
}

.searchbarinput input[type=text] {
	/* also searchbar */
	margin-top:34px;
	margin-left: 40px;
	height: 35px;
	border: none;
	font-size: 25px;
	border-radius: 10px;
	border: 2px solid grey;
}

.abouttitle {
	/* about section title */
	text-align: center;
	vertical-align: middle;
	line-height: 69px;  
	font-family: Gadugi;
	font-size: 25px;
	color: #660000;
	background-color: white;
	width: 50%;
	height: 70px;
	position: absolute;
	top: 10px;
	left: 25%;
	border-radius: 25px;
}
.about {
	/* about section */
	color: black;
	display: flex;
	flex-direction: row;
	background-color: white;
	height: 100px;
	border-radius: 25px;
	margin-top: 105px;
	position: absolute;
	right: 10px;
	height: 75%;
	width: 810px;
	
}

/* everything else below this point should be pretty self explanatory */
.register {
	position: absolute;
	right: 405px;	 
}

.login {
	position: absolute;
	right: 610px; 
}


.team {
	position: absolute;
	left: 0px;  
}

.instagram {
	position: absolute;
	left: 205px; 
}

.twitter {
	position: absolute;
	left: 410px; 
}

.discord {
	position: absolute;
	left: 615px;  
}

.github {
	position: absolute;
	left: 820px;
}

